<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <%- include('components/base') %>
</head>
<body>
<%- include('components/header') %>
<%- include('components/footer') %>
</body>
</html>

