# Windows:

Thumbs.db
ehthumbs.db
.db
Desktop.ini
.ini
*.bat
Thumbs.db
ehthumbs.db
*.db
Desktop.ini
*.ini
.subl18a.tmp
*.tmp
cgpt.iml
.iml
*.iml
.idea
*.idea
.name
*.xml
compiler.xml
.xml
profiles_settings.xml
encodings.xml
misc.xml
modules.xml
scope-settings.xml
vss.xml
workspace.xml
uiDesigner.xml

*.idea
*.xml

example/
node_modules
# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md


# Logs
*.log
npm-debug.log*

# Runtime data
*.pid
.tmp

###############
.DS_Store
node_modules
dist
file
temp

##push server
#/*
#!/dist
#server.js
#!/logs
#!package.json
#!process.json
#*.log
#*.pid

*.idea
*.xml

.idea/
file/
temp/
logs/


*.map



