@color: #4D926F;
@the-border: 1px;

.overflowHidden{
  overflow: hidden;
}



#header {
  color: @color;
  .rounded-corners;
  .overflowHidden;
  h1{
    font-size: 26px;
    font-weight: bold;
  }
  p{
    font-size: 12px;
    a{
      text-decoration: none;
      &:hover{
        border-bottom: 1px solid #ddd;
      }
    }
  }
}


h2 {
  color: @color;
}

h3{
  color: @color;
}

.rounded-corners(@radius:5px){
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}


#footer{
  .rounded-corners(10px);
  width: 120px;
  height: 20px;
  &:hover{
    border-left-width: @the-border + 5;
    border-left-color: @color;
    border-left-style: solid;
  }
}

.mixin(dark,@color){
  color:darken(@color,10%);
}
.mixin (light, @color) {
  color: lighten(@color, 10%);
}
.mixin (@_, @color) {
  display: block;
}

@switch: light;
@dark:dark;

.main {
  .mixin(@switch, #888);
}
.main2 {
  .mixin(@dark, #888);
}
.main3 {
  .mixin(@color, #888);
}

